.error {
  display: none;
  color: red;
}

.display {
  display: block;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: darkseagreen;
}

form {
  background-color: aqua;
  width: 90vw;
  display: grid;
  place-content: center;
}
label {
  display: block;
}
